<h1>About Duck Fat Broccoli</h1>



<div class="col-xs-12 col-md-8">
  <p>Duck Fat Broccoli has naturally been born out of my love of all things food.  I like to eat, I like to cook and I like to try new restaurants.  As a vegetarian, I’m sure we’ve all been in that position, where when asking for a side of steamed broccoli at a restaurant, we’ve been told that’s impossible as the broccoli is cooked in duck fat and have been left with a side of fries for dinner (which were probably also cooked in the duck fat anyway!).<br><br>Join me on my culinary adventures through my current city of Stockholm, with some throw backs to London, the odd thing I’ve whipped up myself and a few other journeys along the way.
  </p>
</div>
<div class="col-xs-12 col-md-4">
  <%= image_tag("meatbeck.jpg") %>
</div>
