<p id="notice"><%= notice %></p>

  <h2>
    <strong><%= @article.Title %></strong>
  </h2>

  <p>
    <%= @article.content %>
  </p>

  <p>
    <%= image_tag(@article.image_url, class: "img-responsive") %>
  </p>
